extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light

    h3.text-center= gym_name
    hr
    h5.text-center Active Climbing Routes 

    table.table.table-hover.text-center
        thead
            tr
                th(scope="col") Name
                th(scope="col") Setter Grade
                th(scope="col") Average Grade
                th(scope="col") Average Rating
                th(scope="col") 
        tbody
            each route in gym
                tr
                    th(scope="row")= route.route_name
                    td= route.setter_grade
                    td= route.current_grade_avg
                    td= route.current_star_rating
                    td
                        form.edit-route-form
                            input(type="hidden" name="model_name" value= model_name)
                            input(type="hidden" name="route_name" value= route.route_name)
                            button.btn.btn-primary.btn-block(type='submit') Edit Route
                            

    hr 

    //- form#new-route-form.my-3(action="/admin-create/gym-route", method="post")
    form#new-route-form.my-3
        input(type="hidden" name="model_name" value= model_name)
        button.btn.btn-success.btn-block(type='submit') Add Route

    form.my-3(action="/admin", method="post")
        button.btn.btn-primary.btn-block(type='submit') Back

    //- form#delete-gym-form.my-3(action="/admin-delete/"+gym_name, method="delete")
    //- form#delete-gym-form.my-3
    //-     input(type="hidden" name="gym_name" value= gym_name )
    //-     //- input(type="hidden" name="model_name" value= model_name)
    //-     button.btn.btn-danger.btn-block(type='submit') Delete Gym

  script
        include ../public/javascripts/new-route-jQuery.js
        //- include ../public/javascripts/delete-gym-jQuery.js
