extends layout

block content
    .card.p-5.container.bg-light

        h3.text-center.text-uppercase #{gym_name} - #{route_name}

        hr
        
        #grade-ui.my-3.py-5

            .card.p-5.w-75.mx-auto.bg-warning
                h4.text-center.text-uppercase Route Setter's Grade 
                h1.text-center.my-5 #{setter_grade}

            hr.w-25

            p.text-center Agree? 

            form.my-2#agree.w-50.mx-auto
                input(type="hidden" name="gym" value= gym_name )
                input(type="hidden" name="route" value= route_name )
                input(type="hidden" name="grade" value= setter_grade )
                button.btn.btn-success.btn-block.text-uppercase(type='submit') Yes

            form.my-2#disagree.w-50.mx-auto
                input(type="hidden" name="gym" value= gym_name )
                input(type="hidden" name="route" value= route_name )
                input(type="hidden" name="grade" value= setter_grade )
                button.btn.btn-secondary.btn-block.text-uppercase(type='submit') No
            
            hr.w-25

            .my-3
                if average_grade_int
                    p.text-center <emphasis> Current Climbers' Average Grade: <strong>#{climber_average_grade}</strong> </emphasis>
                else 
                    p.text-center 
                        <emphasis> Climber's Average Grade is between <strong> #{climber_average_grade[0]} </strong> and <strong>#{climber_average_grade[1]} </strong> </emphasis>


        hr
        
        #rate-ui.my-3.py-5

            .card.p-5.w-75.mx-auto.bg-warning
                h4.text-center.text-uppercase Climber Rating 
                h1.text-center.my-5 #{rating}/4

                //- hr.w-25.mx-auto

                form.my-2#rate.w-50.mx-auto
                    input(type="hidden" name="gym" value= gym_name )
                    input(type="hidden" name="route" value= route_name )
                    button.btn.btn-success.btn-block.text-uppercase(type='submit') Rate 

        hr

        form.my-3(action='/users/'+gym_name, method='get')
            button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back

    script 
        include ../public/javascripts/climber-route-grade-update-jQuery.js
        include ../public/javascripts/climber-route-rate-update-jQuery.js