extends layout

block content
    .card.p-5.container.bg-light

        h3.text-center.text-uppercase #{gym_name} - #{route_name}

        hr
        
        #grade-ui.my-3.py-5

            .card.p-5.w-75.mx-auto.bg-warning
                h4.text-center.text-uppercase Route Setter's Grade 
                
                hr
                
                h1.text-center.my-5 #{setter_grade}

                hr

                p.text-center.text-uppercase Agree? 

                form.my-2#agree.w-50.mx-auto
                    input(type="hidden" name="gym" value= gym_name )
                    input(type="hidden" name="route" value= route_name )
                    input(type="hidden" name="grade" value= setter_grade )
                    button.btn.btn-success.btn-block.text-uppercase(type='submit') Yes

                form.my-2#disagree.w-50.mx-auto
                    input(type="hidden" name="gym" value= gym_name )
                    input(type="hidden" name="route" value= route_name )
                    input(type="hidden" name="grade" value= setter_grade )
                    button.btn.btn-secondary.btn-block.text-uppercase(type='submit') No
                

                .my-3
                    
                    if num_of_climber_grades > 1
                        if average_grade_int 
                            p.text-center.text-lowercase <em> (#{num_of_climber_grades} Climbers' Average Grade: <strong>#{climber_average_grade}</strong>) </em>
                        else 
                            p.text-center.text-lowercase
                                <em> (#{num_of_climber_grades} climbers' Average Grade is between <strong> #{climber_average_grade[0]} </strong> and <strong>#{climber_average_grade[1]} </strong>) </em>
                
                    else if num_of_climber_grades === 1
                        if average_grade_int 
                            p.text-center.text-lowercase <em> (Current Climber Average Grade is <strong>#{climber_average_grade}</strong>) </em>
                        else 
                            p.text-center.text-lowercase
                                <em> (Current Climber Average Grade is between <strong> #{climber_average_grade[0]} </strong> and <strong>#{climber_average_grade[1]}</strong></emphasis>) </em>




        hr
        
        #rate-ui.my-3.py-5

            .card.p-5.w-75.mx-auto.bg-warning
                h4.text-center.text-uppercase Climber Rating
                p.text-center.text-lowercase <em> (current average of #{num_of_climber_ratings} rating(s)) </em>

                hr

                h1.text-center.my-5 #{rating}

                hr

                form.my-2#rate.w-50.mx-auto
                    input(type="hidden" name="gym" value= gym_name )
                    input(type="hidden" name="route" value= route_name )
                    button.btn.btn-success.btn-block.text-uppercase(type='submit') Rate 

                br
                
                p.text-center.text-lowercase <nobr> ( 0 < 4 ) </nobr>
                    

        hr

        form.my-3(action='/users/'+gym_name, method='get')
            button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back

    script 
        include ../public/javascripts/climber-route-grade-update-jQuery.js
        include ../public/javascripts/climber-route-rate-update-jQuery.js