extends layout-splash

//- this is the admin login page:

block content

    .card.mx-auto#splash-card

        h3.text-light.text-center.text-uppercase #{gym_name} <br> Route Details

        .my-5.border.border-info.bg-white.rounded#go-gym-table

            table.table.mx-auto.table-hover.table-sm.table-striped.text-center
                thead
                    tr
                        th(scope="col") Name 
                        th(scope="col") Setter Grade
                        th(scope="col") Edit
                        th(scope="col") Average Grade
                        th(scope="col") Rating
                        
                        th(scope="col") Delete Route
                tbody
                    each route in gym
                        tr
                            th(scope="row") 
                                <nobr> #{route.route_name} </nobr>

                            td= route.setter_grade

                            td
                                form.edit-route-form
                                    input(type="hidden" name="model_name" value= model_name)
                                    input(type="hidden" name="route_name" value= route.route_name)
                                    input(type="hidden" name="current_setter_grade" value= route.setter_grade)
                                    input(type="hidden" name="current_grade_average" value= route.current_grade_avg)
                                    button.btn.btn-warning(type='submit') 
                                        i.fas.fa-edit

                            if route.non_discrete_avg 
                                td between #{route.current_grade_avg[0]} and #{route.current_grade_avg[1]}
                            else
                                td= route.current_grade_avg
                                
                            td= route.current_star_rating + "/4"
                            
                            td
                                form.delete-route-form
                                    input(type="hidden" name="model_name" value= model_name)
                                    input(type="hidden" name="route_name" value= route.route_name)
                                    button.btn.btn-danger(type='submit') 
                                        i.fas.fa-trash
                                
        //- form#new-route-form.my-3(action="/admin-create/gym-route", method="post")
        form#new-route-form.my-3
            input(type="hidden" name="model_name" value= model_name)
            input(type="hidden" name="gym_name" value= gym_name)
            button.btn.btn-success.btn-block.text-uppercase(type='submit') Add Routes

        if admin_view
            form.my-3(action="/admin", method="get")
                button.btn.btn-primary.btn-block.text-uppercase(type='submit') Back
        
        else 
            form.my-3(action="/logout", method="get")
                button.btn.btn-primary.btn-block.text-uppercase(type='submit') Logout

    script
            include ../public/javascripts/new-route-jQuery.js
            include ../public/javascripts/route-edit-jQuery.js
            include ../public/javascripts/route-delete-jQuery.js
