extends layout

//- this is the admin login page:

block content
  .card.p-5.container.bg-light

    h3.text-center.text-uppercase #{gym_name} - Admin Access
    hr
    h5.text-center.mt-5.mb-3 Active Climbing Routes in #{gym_name}

    table.table.table-hover.table-sm.table-striped.text-center
        thead
            tr
                th(scope="col") Name 
                th(scope="col") Setter Grade
                th(scope="col") Climbers Grade
                th(scope="col") Rating
                th(scope="col") Edit Setter Grade
                th(scope="col") Delete Route
        tbody
            each route in gym
                tr
                    th(scope="row")= route.route_name

                    td= route.setter_grade 
 
                    td= route.current_grade_avg
                        
                    td= route.current_star_rating + "/4"

                    td
                        form.edit-route-form
                            input(type="hidden" name="model_name" value= model_name)
                            input(type="hidden" name="route_name" value= route.route_name)
                            input(type="hidden" name="current_setter_grade" value= route.setter_grade)
                            input(type="hidden" name="current_grade_average" value= route.current_grade_avg)
                            button.btn.btn-warning(type='submit') 
                                i.fas.fa-edit
                    
                    td
                        form.delete-route-form
                            input(type="hidden" name="model_name" value= model_name)
                            input(type="hidden" name="route_name" value= route.route_name)
                            button.btn.btn-danger(type='submit') 
                                i.fas.fa-trash
                        
                            

    hr 

    //- form#new-route-form.my-3(action="/admin-create/gym-route", method="post")
    form#new-route-form.my-3
        input(type="hidden" name="model_name" value= model_name)
        input(type="hidden" name="gym_name" value= gym_name)
        button.btn.btn-success.btn-block(type='submit') Add Routes

    if admin_view
        form.my-3(action="/admin", method="get")
            button.btn.btn-primary.btn-block(type='submit') Back
    
    else 
        form.my-3(action="/logout", method="get")
            button.btn.btn-primary.btn-block(type='submit') Logout


  script
        include ../public/javascripts/new-route-jQuery.js
        include ../public/javascripts/route-edit-jQuery.js
        include ../public/javascripts/route-delete-jQuery.js
